node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

LoginButton.jsx
LogoutButton.jsx
Profile01.jsx
.env


# macOS
.DS_Store

expo-env.d.ts
# @end expo-cli