body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to bottom, plum, black);
    margin: 20px;
}
.profile {
    margin-bottom: 20px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
button:hover{
    background-color: plum;
    cursor: grab;
}
#preview {
    margin-top: 20px;
    width: 200px; 
    height: 200px; 
    border-radius: 50%; 
    object-fit: cover; 
    display: none; 
    border: 2px solid #ccc; 
    justify-content: center;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
    margin: 0; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    
}
.bio-section {
    margin-bottom: 20px;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload-button {
    background-color: plum;
    color: black;
    border: none;
    border-radius: 40%;
    width: 40px;
    height: 40px;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photos {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    background-color: black;
}

.photos img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 20px;
    border-radius: 5px;
}



