body {
    font-family: Arial, sans-serif;
    background: linear-gradient(rgba(22, 22, 22, 0.801) 90%, rgba(115, 122, 255, 0.521) ) 20%;
    margin: 20px;
}
.profile {
    margin-bottom: 20px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
button:hover{
    background-color: plum;
    cursor: grab;
}
#preview {
    margin-top: 20px;
    width: 200px; 
    height: 200px; 
    border-radius: 50%; 
    object-fit: cover; 
    display: none; 
    border: 2px solid #ccc; 
    justify-content: center;
    margin: 0 auto;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
   
    margin: 0; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    
}

#profilePicture {
    margin: 15% 20%;
}



