:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-image: linear-gradient(to left bottom, #65558f, #6c64a0, #7273b1, #7883c2, #7e93d2, #7c96dc, #7998e6, #759bf0, #6b91f6, #6486fa, #6279fd, #646cff);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  min-width: 320px;
  min-height: 100vh;
  width: 60%;
  background-color:rgb(26, 26, 26);
  margin: 0 auto;
}

body h1 {
  color: rgb(100, 108, 255);
}


@font-face {
  font-family: 'Grandstander-Light';
  src: url('./assets/fonts/Grandstander-Light.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

#banner {
  width: auto;
  height: auto;
}

#login {
  width: 50%;
  margin: 0 auto;
  background-color: #646cff;
  text-align: center;
  display: block;
  box-shadow: 1px 3px 1px #5359c4;
  
  text-shadow: 1px 1px 1px #5359c4;
  text-transform: uppercase;
  position: relative;
}

#login:hover {
  background-color: plum;
  border: none;
  box-shadow: 1px 3px 1px rgb(238, 172, 238);
  color: #1a1a1a;
  text-shadow: 1px 1px 1px #353535;
}

#login::after {
  font: small-caps;
  font-size: x-small;
  color: #ccc;
  margin: 10px 20px 0 0;
  content: "Authentication provided by Auth0 x Okta";
  text-shadow: 1px 1px 1px transparent;
  position: absolute;
  top: 100%;
  left: 12%;
}

#login::after:hover {
  text-shadow: 1px 1px 1px transparent;
}

#auth0logo {
  text-align: center;
}

#auth0logo img {
  height: 25px;
  margin: 30px auto;
}

.loginPanel {
  width: 600px;
  display: flex;
  flex-direction: column;
}

.app-content {
  padding: 20px;
}

h1 {
  margin: 5px;
  font-family: 'Grandstander-Light';
  src: url("./assets/fonts/Grandstander-Light.ttf") format("ttf");
  font-size: 4em;
  line-height: 1.5;
}

.logo {
  width: 50%;
  margin: 0 auto;
}

.intro {
	color: #a287e5;
	text-align: center;
}

.intro h3 {
  text-align: center;
}


.intro ul li {
  list-style-type: disc;
}


.Posts {
  font-size: 3em;
}

.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #646cff;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}



button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}



.mainContentContainer {

  display: flex;
  width: 50vw;

} 

.userCardContainer {
  padding: 2em;
  width: 80%;
  background-color: #FFF;
  border-radius: 5px;
  margin: 0 auto;
}


.userCardContainer {
  text-align: center;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.userCardContainer img {
  width: 100px; 
  height: 100px; 
  border-radius: 50%; 
  object-fit: cover; 
}

.userCardContainer div h3:hover {
  color: #747bff;
}

.userSnackContainer {
  width: 30%;
  height:fit-content;
  position: fixed; 
  top: 10%;
  right: 36%; 
  z-index: 1000;
  background: white;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: block; 
  transition: all 0.3s ease;
  text-align: center;
}

#exit_button {
  background-color: transparent;
  height: 50px;
  width: 50px;
  padding: 5px;
  color: #ccc;
  border: none;
  transform: none;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 15px;
}

#exit_button:hover {
  background-color: transparent;
  
}




.userCard {
  margin: 0 1em 0 0 ;
}

.dashboardContainer {
  border-top: solid 1px #747bff ; 
} 

.dashboardNav {
  display: flex; 
  justify-content: space-evenly;
  width: 50%;
}

.dashboardNav button {
  display: flex; 
  justify-content: space-around;
  align-items: center;  
}

.dashboardNav p {
  margin: 0 15px;
}


.content {
  width: 30vw;
}


.postContainer {
    border: 2px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
}



.username {
  font-size: '35px';
  font-weight: 'bold';
  color: '#000000';
  margin: '0 5px';
}

.buttons {
  display: flex;
  gap: 10px; /* Space between the edit and delete buttons */
  min-width: 100px; /* Ensures enough space for horizontal alignment */
}

/* Edit button styles */
button.visibility {
  padding: 5px 10px;
  background-color: #af85da; 
  color: #af85da;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button.visibilty:hover {
  background-color: #8e5fbe;
}

button.edit {
  padding: 5px 10px;
  background-color: #9966CC; 
  color: #9966CC;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button.edit:hover {
  background-color: #7d4dac;
}

/* Delete button styles */
button.delete {
  padding: 5px 10px;
  background-color: #8b5f8f; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button.delete:hover {
  background-color: #784f7b;
}

/* Style the SVG icons */
.icon {
  width: 24px;  
  height: 24px; 
  transition: transform 0.3s ease;
}

/* Hover effect on icons */
button:hover.icon {
  transform: scale(1.2); 
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px; 
}
li.buttons {
  margin-left: 20px; 
}

.profile-preview {
  width: 50px; 
  height: 50px; 
  border-radius: 50%; 
  border: 2px solid #ccc; 
}

.user-header {
	width: 40%;
	height: 60px;
	display: flex;
	align-items: center;
	margin: 15px;
	font-size: large;
}

.user-header h4 {
  margin: 0 10px;
}

.postMainContent {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}


@media screen and (width <= 1300px) {
  .postContainer {
    font-size: 14px;
  }

  .user-header h4 {
    font-size: 20px;
   
  }
  .userCardContainer {
    overflow: hidden;
    font-size: 16px;
  }

}



@media screen and (width <= 500px) {
  .mainContentContainer {
    flex-direction: column;
    width: 90vw;
  }
  .postContainer {
    font-size: 10px;
  }

  .user-header h4 {
    font-size: 20px;
   
  }

  .userCardContainer {
    overflow: hidden;
    font-size: 16px;
  }

  .content {
    width: 90vw;
    margin: 1em 1em 0 0;
  }

  h1 {
    display: none;
  }
  #banner {
    width: 90vw;
    padding: 1em 0 0 0;
  }

  #root {
    padding: 0;
    
  }
  .dashboardNav {
    justify-content: center;
    width: 90vw;
  }
  .dashboardNav p {
    display: none;
  }

}




.follow-button {
  background-color: #1a1a1a;
  border-radius: 15px;
  color:#ccc;
  padding: 5px;
}

.follow-button a:hover {
  color:#1a1a1a;
}

