:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@font-face {
  font-family: 'Grandstander-Light';
  src: url('./assets/fonts/Grandstander-Light.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
h1 {
  margin: 5px;
  font-family: 'Grandstander-Light';
  src: url("./assets/fonts/Grandstander-Light.ttf") format("ttf");
  font-size: 4em;
  line-height: 1.5;
}
.Posts {
  font-size: 3em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}



.mainContentContainer {

  display: flex;
  width: 50vw;

} 

.userCardContainer {
  padding: 2em;
  width: 250px;
  background-color: #FFF;
  border-radius: 5px;
}

.userCardContainer div h3:hover {
  color: #747bff;
}


.userCard {
  margin: 0 1em 0 0 ;
}

.dashboardContainer {
  border-top: solid 1px #747bff ; 
} 

.postContainer {
    border: 2px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.buttons {
  display: flex;
  gap: 10px; /* Space between the edit and delete buttons */
  min-width: 100px; /* Ensures enough space for horizontal alignment */
}

/* Edit button styles */
button.edit {
  padding: 5px 10px;
  background-color: #9966CC; 
  color: #9966CC;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.edit:hover {
  background-color: #7d4dac;
}

/* Delete button styles */
button.delete {
  padding: 5px 10px;
  background-color: #8b5f8f; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.delete:hover {
  background-color: #784f7b;
}

/* Style the SVG icons */
.icon {
  width: 24px;  
  height: 24px; 
  transition: transform 0.3s ease;
}

/* Hover effect on icons */
button:hover.icon {
  transform: scale(1.2); 
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px; 
}
li.buttons {
  margin-left: 20px; 
}
